.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.upperfooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.footer-logo-para p {
    font-size: 16px;
    max-width: 600px;
}

.footer-right input {
    display: flex;
    border: none;
    padding: 20px 30px;
    border-radius: 4px;
    background: #32323c;
    color: var(--secondary-color);
    font-size: 18px;
    border-radius: 50px;
    align-items: center;
}

.footer-right input:hover {
    border: 2px solid var(--secondary-color);
}

.footer-right button {
    display: flex;
    align-items: center;
    border: none;
    color: var(--secondary-color);
    border-radius: 50px;
    background: linear-gradient(90deg, red, violet, indigo);
    font-size: 18px;
    padding: 20px 60px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-right button:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.lowerfooter {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.lowerfooter-rights {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin-bottom: 50px;
}

.identity {
    display: flex;
    justify-content: start;
    align-items: center;
}

.identity a {
    margin-left: 20px;
    margin-right: 20px;
    gap: 30px;

}

.identity a img {
    width: 40px;
    height: 40px;
    gap: 10px;
    border-radius: 50px;
    /* object-fit: cover; */
    object-fit: cover;
    /* position: relative; */
}

@media (max-width:600px) {
    .footer {
        gap: 15px;
        margin: 10px 10px;
        /* align-items: start; */
        /* margin: 5vw; */
    }

    .upperfooter {
        flex-direction: column;
        gap: 50px;
    }

    .lowerfooter {
        display: flex;
        flex-direction: column-reverse;
    }

    .identity {
        margin: auto;
        justify-content: center;
        width: 14vw;
    }

    .identity a {
        width: 3vw;
    }

    .identity a img {
        width: 40px;
    }

    .lowerfooter-rights {
        margin-bottom: 20px;
    }
    .lowerfooter p{
        text-align: center;
        font-size: 4vw;
        margin-bottom: 4vw;
    }
}